@import url('reset.css');

@font-face {
  font-family: 'Libertine';
  font-weight: normal;
  font-style: normal;
  src: url('/static/fonts/Libertine-R.woff') format('woff');
}
@font-face {
  font-family: 'Libertine';
  font-weight: normal;
  font-style: italic;
  src: url('/static/fonts/Libertine-I.woff') format('woff');
}
@font-face {
  font-family: 'Libertine';
  font-weight: bold;
  font-style: italic;
  src: url('/static/fonts/Libertine-BI.woff') format('woff');
}
@font-face {
  font-family: 'Libertine';
  font-weight: bold;
  font-style: normal;
  src: url('/static/fonts/Libertine-B.woff') format('woff');
}
@font-face {
  font-family: 'Libertine';
  font-weight: 600;
  font-style: normal;
  src: url('/static/fonts/Libertine-S.woff') format('woff');
}
@font-face {
  font-family: 'Libertine';
  font-weight: 600;
  font-style: italic;
  src: url('/static/fonts/Libertine-SI.woff') format('woff');
}
@font-face {
  font-family: 'Libertine SC';
  font-weight: normal;
  font-style: normal;
  src: url('/static/fonts/LibertineSC-R.woff') format('woff');
}
@font-face {
  font-family: 'Libertine SC';
  font-weight: normal;
  font-style: italic;
  src: url('/static/fonts/LibertineSC-I.woff') format('woff');
}


html {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Libertine', serif;
  color: #444;
  background-color: #ddd;
  height: 100%;
}

body {
  /*background-image: url('/static/grid.png');*/
  width: 70%;
  margin: auto;
  padding : 0 2%;
  background-color: #fff;
  min-height: 100%;
}

header {
  padding-top: 24px;
}

header h1 {
  font-weight: normal;
  font-size: 48px;
  line-height: 96px;
  white-space: nowrap;
}

.topalert {
  background-color: rgb(197,240,211);
  padding: 6px;
  width: calc(105.6% - 12px);
  margin-left: -2.8%;
}

.loginstatus {
  float: right;
  padding-top: 10px;
}
.loginstatus ul li {
  display: inline;
  margin-right: 0;
  margin-left: 2em;
}

nav.main {
  padding-bottom: 24px;
}
nav.main ul li {
  display: inline;
  margin-right: 2em;
}
nav.main a:link, nav.main a:visited {
  color: rgb(73,137,70);
  border: none;
}
nav.main .quicksearch {
  float: right;
  position: relative;
  top: -26px;
}
nav.main .quicksearch .results {
  border: 1px solid #333;
  float: right;
  z-index: 100;
  position: absolute;
  width: 200%;
  left: -100%;
  background-color: #fcfcfc;
}
nav.main .quicksearch .results .result {
  color: #444;
  padding: 0.25em;
}
nav.main .quicksearch .result.focus {
  background-color: #e8e8e8;
}
nav.main .quicksearch .results .loadingindicator {
  padding: 0.5em;
}
nav.main .quicksearch .results .noresults {
  padding: 0.25em;
  text-align: center;
}
nav.main .quicksearch .results .result.searchpagelink {
  text-align: right;
}

.wideleft {
  float: left;
  width: 74%;
}
.narrowright {
  float: right;
  width: 24%;
}

.wideright {
  float: right;
  width: 74%;
}
.narrowleft {
  float: left;
  width: 24%;
}

.green { color: rgb(73,137,70); }

.article p + p {
  text-indent: 24px;
}

.article blockquote {
  margin: 24px;
}

.article footer {
  margin-top: 24px;
  width: 40%;
  float: right;
}
.article .srchead {
  font-style: italic;
}
.h2spacer { height: 48px; }

.article ul, .article ol {
  margin-left: 2em;
}

hr {
  margin: 24px 0;
  padding: 0;
  height: 24px;
  border: 0;
  text-align: center;
  clear: both;
}
hr::after {
  content: '\2014';
}

sup, sub {
  font-size: 90%;
  line-height: inherit;
  position: relative;
}
sup { vertical-align: top; top: -0.333em; }
sub { top: -0.333em; }

small { font-size: 14px; line-height: 18px; }

.sb { font-weight: 600; }
.csc { font-family: 'Libertine SC', serif; text-transform: lowercase; }
.sc { font-family: 'Libertine SC', serif; }
.pos { font-style: italic; }

h2 { font-weight: normal; font-size: 30px; line-height: 48px; }
.alt { font-weight: 600; }

.definition { margin-left: 3em; text-indent: -2em; }
.entry.cited .definition { margin-top: 24px; }
.subdefinition { margin-left: 4em;  text-indent: -2em;  }
.senseno { font-weight: bold; }

.quotations { position: relative; font-size: 14px; line-height: 24px; margin-left: -1.111em; text-indent: 0; }
.tlcolumn td.date, .quotations td.date { width: 10%; text-align: right; white-space: nowrap; padding-right: 0.75%; }
.tlcolumn td.flag, .quotations td.flag { width: 28px; min-width: 28px; max-width: 28px; text-align: center; }
.tlcolumn td.flag img, .quotations td.flag img { top: 2px; position: relative; }
.tlcolumn td.quote, .quotations td.quote { padding-left: 0.75%; }
.quotations table {  border-collapse: collapse; width: 100%; }
.quotation time, .srquot time { font-weight: bold; }

/* citation editor link */
.quotations td.quote small {
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  float: right;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
  user-select: none;
}
.quotations td.quote small a::after {
  content: 'edit';
}

.author { font-family: 'Libertine SC', serif;  }

.nocountry::after { content: '\2014'; }

article.entry h2 .hw {
  font-weight: 600;
}
/* 
article.entry h2 .pos {
  font-size: 24px;
  line-height: 48px;
}
article.entry h2 sup.homonym {
  font-size: 18px;
  line-height: 48px;
}
 */

article.entry h3, main h3 {
  margin-top: 24px;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
}
article.entry h4, main h4 {
  margin-top: 24px;
  font-size: 18px;
  line-height: 24px;
}

.highlight { background-color: rgb(197,240,211); }

a:link, a:visited { border-bottom: 1px dotted #aaa; }
a:hover, a:active { border-bottom: none; color: rgb(73,137,70); }
.xhw { font-family: 'Libertine SC', serif; }
.xsub { font-family: 'Libertine SC', serif; font-style: italic; }
.xpos { font-style: italic; }

main ul, aside ul, .threecol ul,
main ol, aside ol, .threecol ol
{ margin-left: 1.5em; }

.subentry { margin-top: 24px; }
.entry.cited .subentry .definition, .entry.uncited .subentry .definition { margin-top: 0px; }
.subhw { font-weight: bold; }
.subpos { font-style: italic; }

a.smallbutton { border: none; }
#showallquots, #hideallquots {
    display: block;
    white-space: nowrap;
}
.showhideallquots svg {
    fill: #999;
}
.showhideallquots a:hover svg {
    fill: rgb(73,137,70);
}

.qtable {
  display: none;
}

.qshown .qtable {
    display: table;
}

.timelinearea {
  height: 24px;
  white-space: nowrap;
  display: table;
  width: 100%;
  min-width: 100%;
}
.timelinewrap { display: table-row; }

.tlfirstdate, .tllastdate, .timeline { display: table-cell; }
.tlfirstdate, .tllastdate { width: 3em; max-width: 3em; min-width: 3em; }
.tlfirstdate { text-align: right; padding-right: 1%; }
.tllastdate { padding-left: 1%; }

/* 
.tlfirstdate { direction: rtl; }
*/

.timeline { padding-top: 18px; position: relative; width: 100%; }
.qmark {
  width: 3px;
  border-left: 1px solid #000;
  height: 10px;
  margin: 0 3px;
  display: inline-block;
  position: absolute;
  margin-top: -15px;
}
.qmark:hover {
  border-left: 1px solid rgb(73,137,70);
}

.qfloatarea {
  display: none;
  z-index: 100;
  width: 100%;
  position: absolute;
  white-space: normal;
  margin-bottom: 18px;
  bottom: 0px;
}

.qfloattbl {
  width: 100%;
}

.qfloat {
  background-color: #fff;
  border: 1px solid #000;
  padding: 1em;
  margin-bottom: 18px;
}
.qtoggle {
  width: 1em;
  display: table-cell;
  text-align: right;
}
.qtoggle a { border: none; }
.qtoggle a svg {
    margin-top: 2px;
    fill: #999;
}
.qtoggle a:hover svg {
    fill: rgb(73,137,70);
}
.qshown .qtoggle a svg {
    fill: rgb(73,137,70);
}
.qshown .qtoggle a:hover svg {
    fill: #333;
}


.tlrule {
  margin-top: -6px;
  height: 0px;
  border-bottom: 1px solid #aaa;
  width: 100%;
}
.tlrule.onequot {
  border-bottom: 1px dashed #aaa;
}

.scalemark { font-size: 11px; line-height: 12px; height: 10px; position: absolute; border-left: 1px solid #aaa; padding-left: 2px; }
.scalemark.last { text-indent: -2.3em; }

table.bigtable {
  width: 100%;
}
table.bigtable th {
  text-align: left;
  padding: 0 0.25em;
}
table.bigtable td {
  padding: 0 0.25em;
}

table.formtable th {
  text-align: right;
  font-weight: 600;
}
table.formtable td {
  padding-left: 0.5em;
}
table.formtable td.submit {
  text-align: right;
}
table.formtable input[type='text'], table.formtable input[type='password'] {
  width: 100%;
}

.people .person {
  display: inline-block;
  margin-right: 1em;
  background-color: #eee;
  padding: 1em;
}

.blankperson { display: none; }

.indexmain {
/*  background-color: #333;*/
  background-size: 100%;
  min-height: 30vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 24px;
}
.indexcover {
  width: 100%;
  height: 100%;
  min-height: 30vw;
  background: linear-gradient(to right, rgba(0,0,0,0) 30%, rgba(0,0,0,0.75) 60%);
  background-position: right center;
  color: #ddd;
  text-align: right;
}
.indexcover .searchbox {
  text-align: right !important;
}
.indexcover .searchbox #q {
  width: 70% !important;
} 
.indexcovercontent {
  width: 40%;
  padding: 24px 2.5%;
  float: right;
}
.indexloginform {
  white-space: nowrap;
  float: right;
}

.fullwidth {
  width: 105.6%;
  margin-left: -2.8%;
}

#termslist .term {
  white-space: nowrap;
}
#termslist .termcdr {
  white-space: normal;
}
#termslist .deleteterm, #termslist .deletegroup {
  border: none;
  display: inline-block;
  padding-left: 0.5em;
}
#termslist .deleteterm:hover, #termslist .deletegroup:hover {
  color: rgb(187,96,99);
}

.dialogcover {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dialog {
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
  margin: 10% auto;
  padding: 12px;
}
input.biblquery {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}
.biblsearch .biblresults {
  max-height: 180px;
  min-height: 180px;
  height: 180px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 0;
  overflow: scroll;
}

.searchbox {
  text-align: center;
  margin-bottom: 24px;
}

.searchadd { font-size: 14px; }

.searchresultsinfo { font-size: 12px; line-height: 24px; text-align: right; }

.srentry, .srdef, .srquot {
  font-size: 15px;
  line-height: 24px;
  border: 1px solid #ccc;
  padding: 6px;
  margin-bottom: 12px;
}

.srentry .moreinfo, .srdef .moreinfo, .srquot .moreinfo {
  font-size: 13px;
  line-height: 24px;
  text-align: right;
}
.srdef .moreinfo { text-align: left; }

a.srlink:hover, a.srlink:active { color: inherit; }
a.srlink .srentry:hover,
a.srlink .srdef:hover,
a.srlink .srquot:hover { background-color: #f8f8f8; }

#searchresults .loadmore, .resultsarea .loadmore { text-align: center; }

.srentry .hw, .result .hw { font-weight: bold; }

.subhw { font-weight: 600; }

/*** advanced search ***/

.query {
  display: inline-block;
  white-space: nowrap;
  background-color: rgb(73,137,70);
  padding: 2px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  color: #eee;
  vertical-align: top;
}

.query * { vertical-align: middle; }

.query a:link, .query a:visited { border: none; color: #bbb; }
.query a:hover, .query a:active { color: #fff; }

.query .options {
  display: inline-block;
}
.query .options > * {
  display: block;
}

#addqueryarea {
  position: relative;
  display: inline-block;
}

#addqueryarea #querytypemenu:not(.show) {
  display: none;
}

#addqueryarea #querytypemenu {
  border: 1px solid #333;
  float: right;
  z-index: 100;
  position: absolute;
  background-color: #fcfcfc;
  width: 250px;
}

#querytypemenu .querytype {
  color: #444;
  padding: 0.25em;
}

#querytypemenu a:hover .querytype {
  background-color: #e8e8e8;
}

#querytypemenu .querytype.more {
  background-image: url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20width="16"%20height="4"%20viewBox="0%200%2016%204"><path%20d="M2%204C3.1%204%204%203.1%204%202%204%200.9%203.1%200%202%200%200.9%200%200%200.9%200%202%200%203.1%200.9%204%202%204Z"/><path%20d="M14%204C15.1%204%2016%203.1%2016%202%2016%200.9%2015.1%200%2014%200%2012.9%200%2012%200.9%2012%202%2012%203.1%2012.9%204%2014%204Z"/><path%20d="M8%204C9.1%204%2010%203.1%2010%202%2010%200.9%209.1%200%208%200%206.9%200%206%200.9%206%202%206%203.1%206.9%204%208%204Z"/></svg>');
  background-repeat: no-repeat;
  background-position: 95% center;
}

#querytypemenu .querytype.sub:not(.show) {
  display:none;
}
#querytypemenu .querytype.sub {
  padding-left: 2.0em;
}
#querytypemenu .querytype.ft {
  font-style: italic;
}

.advancedsearch {}

.resultssummary {
  font-size: 14px;
  padding-bottom: 12px;
  padding-top: -12px;
  text-align: right;
}

table.results {
  width: 100%;
  margin-bottom: 24px;
}

table.results .revealsensescol {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  text-align: center;
}
table.results tr.entry .revealsensescol {
  fill: #555;
  cursor: pointer;
}
table.results tr.entry .revealsensescol:hover {
  fill: rgb(73,137,70);
}
table.results tr.entry .revealsensescol .shownicon { display: none; }
table.results tr.entry.opened .revealsensescol .hiddenicon { display: none; }
table.results tr.entry.opened .revealsensescol .shownicon {
  display: inline-block;
  fill: rgb(73,137,70);
}
table.results tr.entry.opened .timeline {
  visibility: hidden;
}
table.results tr.sense.opened {
  display: table-row;
}
table.results {
  height: 24px;
  min-height: 24px;
}

table.results .revealsensescol {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  text-align: center;
  fill: #555;
  cursor: pointer;
}

table.results .entrycol, table.results #firstdatecol, table.results #lastdatecol {
  width: 33.3333%;
}

table.results #firstdatecol, table.results #lastdatecol { font-weight: normal; }
table.results #firstdatecol { text-align: left; }
table.results #lastdatecol { text-align: right; }

table.results td.tlcolumn {
  position: relative; /* so the quotation floater is the right size */
  font-size: 14px;
  line-height: 24px;
}

table.results td.tlcolumn .qfloatarea { margin-bottom: 18px; }
table.results td.tlcolumn .qfloat { margin-bottom: 6px; }

table.results table.quotations {
  display: none;
}

table.results tr.headerrow {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 50;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

table.results tr.entry {
  border-bottom: 1px dotted #eee;
}

table.results tr.entry.odd td.entrycol, table.results tr.entry.odd td.revealsensescol {
  background-color: #f8f8f8;
}
table.results tr.entry.even td.entrycol, table.results tr.entry.even td.revealsensescol {
  background-color: #fff;
}

table.results tr.entry td.entrycol:hover {
  cursor: pointer;
  color: rgb(73,137,70);
}

table.results td.entrycol, table.results td.sensecol {
  width: 33.3333%;
  max-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* iefix */
  position: relative;
}
table.results td.entrycol div {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* iefix */
  position: absolute;
  top: 0px;
}

table.results .timeline { display: inline-block; width: 100%; }
table.results .timeline .scalemark { color: rgba(0,0,0,0); }
table.results tr:hover .timeline .scalemark { color: #666; }

table.results tr.sense {
  display: none;
}
table.results td.sensecol {
  font-size: 14px;
  line-height: 24px;
}

.query .bibentrysearch {
  background-color: #eee;
  color: #666;
  padding-left: 0.5em;
  border-radius: 3px;
  white-space: nowrap;
}
.query .bibentrysearch .selectbibentry {
  background-color: #666;
  color: #eee;
  display: inline-block;
  border-radius: 0 3px 3px 0;
  padding: 0 0.5em 0 0.3em;
}
.query .bibentrysearch .selectbibentry:hover {
  background-color: #444;
}

.datequery {
}
.datequery .date {
  display: block;
  text-align: right;
}

.savesearch {
  text-align: right;
}

/***end advanced search ***/

#hwsearchform input#q {
  background-image: url('/static/img/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 0.3em 50%;
  font-family: 'Libertine', serif;
  font-size: 24px;
  border-radius: 24px;
  border: 1px solid #aaa;
  padding: 0 0.1em 0 1.4em;
  max-width: 14em;
  width: 100%;
  margin: 10px;
}

body.search .searchbox {
  text-align: right;
}

body.search #hwsearchform input#q {
  width: 80%;
  margin: 0;
}

.threecol .leftcol, .threecol .midcol, .threecol .rightcol {
  width: 32%;
  max-width: 32%;
  float: left;
}
.threecol .midcol { margin: 0 2%; }

#bibalphabetfloat {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.bibbrowse {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 24px 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
.bibalphabet {
  display: table-row;
  list-style-type: none;
  margin: 0;
  width: 100%;
}
.bibalphabet li {
  display: table-cell;
  width: 100%;
  text-align: center;
}
.bibalphabet li:nth-child(even) {
  background-color: #f0f0f0;
}
.bibalphabet li a:link {
  display: inline-block;
  text-align: center;
  width: 100%;
  border: none;
}

.bibentry .country {
  min-width: 2em;
  max-width: 2em;
  text-align: center;
}
.bibentry .citation {
  width: 100%;
  padding-left: 2em;
  text-indent: -2em;
}
.bibentry:nth-child(even){
  background-color: #f8f8f8;
}

table.abbreviations {
  width: 100%;
}
table.abbreviations tr td:nth-child(1) {
  width: 30%;
  text-align: right;
  padding-right: 0.75em;
}
table.abbreviations tr td:nth-child(2) {
  width: 70%;
}

.stretchimage {
  max-width: 100%;
}

.twohalves .lefthalf {
  width: 49%;
  float: left;
}
.twohalves .righthalf {
  width: 49%;
  float: right;
}

.errorhighlight {
  background-color: rgb(197,240,211);
  padding: 6px;
  margin: 6px;
}

.entrysidebar h3 { margin-top: 24px; }
.entrysidebar h4 { font-weight: normal; font-style: italic; }
.entrysidebar ul.derivlist li { list-style-type: square; }
.entrysidebar ul.excllist li { list-style-type: disc; }
.entrysidebar ul.compoundlist li { list-style-type: circle; }
.entrysidebar ul.phraselist li { list-style-type: square; }
.entrysidebar .upselluncited {
  margin-bottom: 24px;
}

.browselist {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  margin-left: 0;
}
.browselist li {
  list-style-type: none;
  -webkit-break-inside: avoid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#alphabrowse {
  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;
  white-space: nowrap;
  width: 100%;
  position: relative;
}
#alphabrowse .letterarea {
  display: inline-block;
  text-align: center;
  min-width: 1px;
}
#alphabrowse .letterarea:nth-child(even) {
  background-color: #eee;
}
#alphabrowse .letterarea .letter {
  cursor: default;
}
#browsecursor {
  display: inline;
  border-left: 1px solid #000;
  height: 24px;
  position: absolute;
}
#hoverposind {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}
#hoverhw {
  white-space: nowrap;
  display: inline-block;
}

.loadingindicator {
  min-height: 56px;
  background-image: url(/static/img/spinner.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.booktable {
  width: 100%;
}
.booktable td {
  vertical-align: top;
}
.booktable .bookcover { padding: 0 1em; }
.booktable .bookcover a { border: none; }
.booktable .bookdescription h4 { margin-top: 0; }
.booktable .bookdescription p { text-indent: 0; }
.booktable .bookdescription ul.buy { float: right; }
.booktable .bookdescription ul.buy li { display: inline-block; }
.booktable .bookdescription ul.buy li::before { content: '\A0\2022\A0'; }
.booktable .bookdescription ul.buy li:first-child::before { content: ''; }
.booktable .bookyear { font-weight: normal; }

nav.searchtypes { float: right; text-align: right; }
/*nav.searchtypes ul { display: inline; margin: 0; padding: 0; }*/
nav.searchtypes ul li { display: inline-block; }
nav.searchtypes ul li::before { content: '\A0\2022\A0'; }
nav.searchtypes ul li:first-child::before { content: ''; }

.paymentiframe {
  width: 100%;
}

.hide {
  display: none;
}

body > footer {
  clear: both;
  padding: 24px 0;
  color: #777;
}
